body{
background-color: #f5f3f0;
font-family: 'Tangerine', 'Inconsolata', 'Droid Sans', serif;
}

.page-header {

background-color: #807c73;
top-margin: 0;
padding: 20px 20px 20px 40px;
text-transform: initialize;
}

.page-header h1, .page-header a{
font-size: 46pt;
font-family: Futura;
background-color: #666666;
text-decoration: none;
color: #f7fafa;
-webkit-background-clip: text;
-moz-background-clip: text;
background-clip: text;
text-shadow: -1px -1px rgba(0,0,0,1), 1px 1px

}

.page-header .top_menu{
float: right;
padding-right:35px;
}

.page-header .top_menu .fa-firstdraft, fa-plus-circle, fa-sign-in-alt{
margin:2px;
padding:2px;
}

.home{
float: right;
margin-top:-30px;

}

.home .fa-home{
size: 5px;
}

.container{
padding-top: 20px;
}

.content{
margin-left: 60px;
}
.row a{
text-decoration: none;
}

h1, h2, h3, h4 {
font-family: 'Tangerine', 'Inconsolata', 'Droid Sans', serif;
font-size: 40px;
}

.date{
color: #d1cfcb;
}

.post{
margin-bottom: 60px;

}

.post a{
color: #333;
}

.post h1 a:visited{
color: green;
}

.post-form-blog textarea {
width: 100%

}
.post-form-blog input {
width: 50%

}

.post-form-blog .btn-info {
    float: right;
}

.fa-edit:hover:before{
content: "edit post";
}

.col-md-4 a{
float: right;
margin-right:5px;
}

.comment{
margin: 20px 0px 20px 20px;
}






